h1,a,p,h3,h6{
    color:white;
    font-weight: bolder;
}
body{
    background-image: url('/img/background.jpg');
    font-family: Arial, Helvetica, sans-serif;
}
div a{
    text-decoration: none;
    padding-left:20px
}
input,button{
    padding : 7px 7px 7px 7px;
   }
input:hover,button:hover{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
button:active{
    transform: translateY(2px);
}
#one{
    color:rgb(255, 255, 255);
}
table{
    margin-top: 20px;
}
#one:hover,#two:hover,#three:hover,#four:hover,#five:hover{
    color:red;
}
marquee{ 
    position: absolute;  
    top: 500px;
    color:red;
    margin-right: 18px;
    padding: 5px;
    }