<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather</title>
    <link rel="icon" href="./img/weather.png">
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <center>
        <p>{{>header}}</p>
    </center>

    <center>
        <form>
            <input type="text" placeholder="Enter a location" size="35%">
            <button>search</button>
            <p id="one"></p>
            <table>
                <tr>
                    <td>
                        <p id="two"></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id="three"></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id="four"></p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p id="five"></p>
                    </td>
                </tr>
            </table>
        </form>
    </center>
    <br><br><br>
    {{>footer}}
    <script src="./js/app.js"></script>
</body>

</html>